body {
  background-color: rgb(14, 0, 143);
  font: normal 15pt Arial;
}

header {
  color: beige;
  text-align: center;
}

section {
  background: rgba(0, 140, 255, 0.534);
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.836);
}

div#inicio{
  display: flex;
  flex-direction: column;
  align-items: center;

}

select{
  width: 200px;
}

#button{
  border-radius: 15%;
  margin-top: 10px;
  

}

article {
  background: rgba(0, 140, 255, 0.534);
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.836);
  margin-top: 30px;
}

div {
  text-align:left;
  padding: 5px;
  font-style: italic;
  color: rgb(255, 241, 186);
}

footer {
  color: beige;
  text-align: center;
  font-style: italic;
}
label{
    width: 80px;
    display:flex
}
input{
    width: 80px;
    display: block;
}